---
import Layout from "../Layout.astro";
---

<Layout transition:name="Gene Ni | Projects">
    <div class="w-full h-full flex flex-col justify-center items-center align-middle">
        <h1>Blog</h1>
        <p>Under Construction!</p>
    </div>
</Layout>