---

---

<div class="group">
  <div
    class="mt-5 w-8 hover:w-40 rounded-3xl transition-all duration-300 bg-white border-solid border-2 text-white p-4 delayed-transition"
  >
  </div>
</div>

<style is:global>
  .group:hover .delayed-transition {
    transition-delay: 0ms;
  }

  .delayed-transition {
    transition-delay: 250ms;
  }
</style>
