---

---

<div class="group">
    <div class="mt-5 w-8 hover:w-40 rounded-3xl transition-all duration-300 border-black border-solid border-2 text-white p-4 group-hover:transition-delay">
    </div>
  </div>
  
  <style is:global>
    .group-hover\:transition-delay {
      transition-delay: 250ms;
    }
  </style>
  