---
import Layout from './Layout.astro'
---
<Layout title="Gene Ni | 25' UMCP">
	<div class=" flex gap-3 flex-col items-center">
		<h2 class=" text-2xl">Hi my name is Gene</h2>
		<p>Welcome to my portfolio!</p>
	</div>
</Layout>

