---
import Layout from "./Layout.astro";
import LanguageBubbles from "../components/LanguageBubbles";
import { fetchTopLanguages } from "../lib/github";

// const langs = await fetchTopLanguages();
// console.log(langs)
---

<Layout title="Gene Ni | 25' UMCP">
  <div class="relative w-full h-full flex flex-col items-center justify-center gap-3 text-white bg-black rounded-xl">
    <!-- Background bubbles -->
    <LanguageBubbles client:load />

    <!-- Foreground content -->
    <h2 class="text-2xl z-10">Hi I'm Gene</h2>
    <p class="z-10">Welcome to my portfolio!</p>
  </div>
</Layout>
