---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { ClientRouter } from "astro:transitions";
const { title } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <ClientRouter />
  </head>
  <body>
    <main
      class="font-zerox w-full h-[100vh] flex flex-col px-0 md:px-5 gap-4 justify-between align-middle items-center"
    >
      <div
        class="w-full h-[100vh] flex flex-col px-3 md:px-5 gap-4 justify-start align-middle items-center"
      >
        <Header />
        <slot />
      </div>
      <Footer />
    </main>
  </body>
</html>

<style is:global>
  @font-face {
    font-family: "ZeroxProtoNerdFont";
    src: url("/fonts/ZeroxProtoNerdFont-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
  }

  /* @font-face {
		font-family: 'ZeroxProtoNerdFontMono';
		src: url('/fonts/ZeroxProtoNerdFontMono-Regular.ttf') format('truetype');
		font-weight: normal;
		font-style: normal;
	}

	@font-face {
		font-family: 'ZeroxProtoNerdFontPropo';
		src: url('/fonts/ZeroxProtoNerdFontPropo-Regular.ttf') format('truetype');
		font-weight: normal;
		font-style: normal;
	} */
</style>
